{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Modification de la page d'accueil{% endblock %}

{% block body %}
    <h1 class='home-page-form__title'>Modification de la page d'accueil</h1>

    {{ include('home_page/_form.html.twig', {'button_label': 'Update'}) }}

    <div class='flex-center home-page-form__modification'>
        <a href="{{ path('app_home_page_index') }}" class='btn home-page-form__modification--button'>Retourner à la page d'accueil</a>
    </div>

    {# {{ include('home_page/_delete_form.html.twig') }} #}
{% endblock %}
