<section class="famous-dishes-form__flux">
{{ form_start(form, {'attr': {'class': 'famous-dishes-form__form'}}) }}
    {{ form_widget(form) }}
    <div class='flex-center famous-dishes-form__modification'>
        <button class="btn home-page-form__modification--button">Mettre à jour</button>
    </div>
{{ form_end(form) }}
</section>
