{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Ajout d'un plat phare à la page d'accueil{% endblock %}

{% block body %}
    <h1 class='famous-dishes-form__title'>Ajouter un nouveau plat phare à la page d'accueil</h1>

    {{ include('famous_dishes/_form.html.twig') }}

    <div class='flex-center famous-dishes-form__modification'>
        <a href="{{ path('app_home_page_index') }}" class='btn famous-dishes-form__modification--button'>Retourner à la page d'accueil</a>
    </div>

{% endblock %}
