@use "../../../sass/utils/_main" as utils

.register-form
    &__title
        @extend %title-1
        text-align: center
        margin-top: 5vw

    &__flux
        display: flex
        align-items: center
        justify-content: space-around
        flex-direction: column
        margin-top: 5vw

    &__form
        display: flex
        height: 100%
        flex-direction: column
        align-items: stretch
        justify-content: space-around

    &__field
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom:5vw
        +utils.responsive("tablet")
            flex-direction: row
            align-items: baseline

        &--label
            @extend %paragraphe-s

        &--input
            @extend %paragraphe-s
            +utils.responsive("tablet")
                margin-left: 5vw

    &__field-checkbox
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between

        &--label
            @extend %paragraphe-s

        &--input
            @extend %paragraphe-s
            margin-left: 5vw

    &__button
        background-color: utils.$brown
        color: utils.$gold
        @extend %paragraphe-s
        text-align: center
        margin-top: 5vw
        cursor: pointer
        &:hover
            background-color: utils.$gold
            color: utils.$black

#registration_form_allergy
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    & > label
        margin-bottom: 2vw
