@use "../../../sass/utils/_main" as utils

.resa-form-hide
    display: none

.resa-form
    &__title
        +utils.title-page-typo()
        text-align: center
        margin-top: 5vw

    &__flux
        display: flex
        align-items: center
        justify-content: space-around
        flex-direction: column
        margin-top: 5vw

    &__form
        display: flex
        height: 100%
        flex-direction: column
        align-items: stretch
        justify-content: space-around

    &__field
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom:5vw
        +utils.responsive("tablet")
            flex-direction: row
            align-items: baseline

        &--label
            +utils.litle-text-typo()

        &--input
            +utils.litle-text-typo()
            +utils.responsive("tablet")
                margin-left: 5vw

    &__reservation
        margin-top: 5vw
        
        &--button
            background-color: utils.$brown
            color: utils.$gold
            +utils.litle-text-typo()
            text-align: center
            cursor: pointer
            &:hover
                background-color: utils.$gold
                color: utils.$black

#reservation_form_allergy
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    & > label
        margin-bottom: 2vw

.reservation-success-hide
    display: none

.reservation-success
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &__info
        +utils.text-page-typo()
        text-align: center
        margin-top: 10vw

    &__redirection
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 5vw

        &--link
            +utils.text-typo()
            margin-top: 5vw
            text-decoration: underline
            text-underline-offset: 0.2rem
            text-decoration-color: utils.$gold
            text-align: center
            color: utils.$brown
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$brown

.reservation-error-hide
    display: none

.reservation-error
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    &__info
        +utils.text-page-typo()
        text-align: center
        margin: 10vw

    &__redirection
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 5vw

        &--link
            +utils.text-typo()
            margin-top: 5vw
            text-decoration: underline
            text-underline-offset: 0.2rem
            text-decoration-color: utils.$gold
            text-align: center
            color: utils.$brown
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$brown
