@use "../../../sass/utils/_main" as utils

.main
    text-align: center
    padding: 5vw

    &__title
        +utils.title-page-typo()
        color: utils.$gold

    &__text-presentation
        +utils.text-page-typo()
        color: utils.$yellow-metal
        margin-top: 3.5vw



.description
    text-align: center
    padding: 0 7vw 7vw 7vw

    &__title
        +utils.title-typo()
        color: utils.$gold

    &__text-presentation
        +utils.text-typo()
        color: utils.$yellow-metal
        margin-top: 3.5vw


.famous-dishes
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

    &__title
        +utils.title-typo()
        color: utils.$gold
        margin-top: 3.5vw

    &__text-presentation
        +utils.text-typo()
        text-align: center
        color: utils.$yellow-metal
        margin-top: 3.5vw

.main-modification
    margin-top: 5vw

    &__modifier
        margin-top: 1.5vw
        // +utils.litle-text-typo()
        +utils.text-typo()
        text-align: center
        margin-right: 0.5vw 
        color: utils.$brown
        text-decoration: underline
        text-underline-offset: 0.5vw
        text-decoration-color: utils.$gold
        &:hover
            color: utils.$gold
            text-decoration-color: utils.$brown
