<section class="dishes-form__flux">
{{ form_start(form, {'attr': {'class': 'famous-dishes-form__form'}}) }}
    {{ form_widget(form) }}
    <div class='flex-center dishes-form__modification'>
        <button class="btn dishes-form__modification--button">Modifier</button>
    </div>
{{ form_end(form) }}
</section>
