@use "../../../sass/utils/_main" as utils

.main-menus
    text-align: center
    margin-top: 3vw

    &__title
        @extend %title-1
        text-align: center
        margin-bottom: 5vw

    &__description
        @extend %paragraphe-l
        text-align: center

        &--link
            text-decoration: underline
            text-decoration-color: utils.$yellow-metal
            &:hover
                color: utils.$brown
                text-decoration-color: utils.$brown

.all-menus
    text-align: center

    &__description
        margin-top: 10vw

        &--title
            margin-top: 4vw
            @extend %title-2
            text-align: center
            text-decoration: underline
            text-underline-offset: 0.5vw

        &--text
            margin-top: 2.5vw
            @extend %paragraphe-m
            text-align: center

        &--price
            text-align: center
            margin-top: 1.5vw
            color: utils.$brown
            @extend %paragraphe-m
            
    &__category
        @extend %title-3
        margin-top: 3.5vw

    &__dish
        @extend %paragraphe-s

    &__modification
        margin-top: 5vw

        &--modifier
            margin-top: 1.5vw
            @extend %paragraphe-s
            text-align: center
            margin-right: 0.5vw 
            color: utils.$brown
            text-decoration: underline
            text-underline-offset: 0.5vw
            text-decoration-color: utils.$gold
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$brown

        &--delete
            margin-top: 1.5vw
            @extend %paragraphe-s
            text-align: center
            margin-left: 0.5vw
            color: utils.$brown
            text-decoration: underline
            text-underline-offset: 0.5vw
            text-decoration-color: utils.$gold
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$brown

    &__new
        margin-top: 5vw
        
        &--add
            margin-top: 1.5vw
            @extend %paragraphe-s
            text-align: center
            color: utils.$brown
            text-decoration: underline
            text-underline-offset: 0.5vw
            text-decoration-color: utils.$gold
            &:hover
                color: utils.$gold
                text-decoration-color: utils.$brown

.lunch-menu__information
    @extend %paragraphe-s
