* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.main-menus__title, .main__title, .register-form__title, .login-form__title, .resa-form__title, .main-dishes__title {
  font-family: "garamond", serif;
  font-size: 3rem;
}

.all-menus__description--title, .description__title, .famous-dishes__title, .famous-dish-card__description--title, .vegetarians-dishes__title, .starters-dishes__title, .main-courses-dishes__title, .desserts-dishes__title, .burgers-dishes__title {
  font-family: "garamond", serif;
  font-size: 2.3rem;
}

.all-menus__category, .vegetarians-list__description--title, .starters-list__description--title, .main-courses-list__description--title, .desserts-list__description--title, .burgers-list__description--title {
  font-family: "garamond", serif;
  font-size: 1.7rem;
}

.footer__contact--title, .footer__legals--title {
  font-family: "garamond", serif;
  font-size: 1.3rem;
}

.main-menus__description, .main__text-presentation, .main-dishes__description {
  font-family: "franckruehl", serif;
  font-size: 2rem;
}

.all-menus__description--text, .all-menus__description--price, .description__text-presentation, .famous-dishes__text-presentation, .famous-dish-card__description--text-presentation {
  font-family: "franckruehl", serif;
  font-size: 1.7rem;
}

.header__link, .all-menus__button, .all-menus__dish, .all-menus__modification--modifier, .all-menus__modification--delete, .lunch-menu__information, .btn-reservation, .main-modification__modifier, .main-modification__delete, .famous-dish-card__modification--modifier, .famous-dish-card__modification--delete, .famous-dish-card__modification--add, .register-form__field--label, .register-form__field--input, .register-form__button, .login-form__email--label, .login-form__email--input, .login-form__password--label, .login-form__password--input, .login-form__button, .resa-form__field--label, .resa-form__field--input, .resa-form__button, .vegetarians-list__description--details, .vegetarians-list__price, .starters-list__description--details, .starters-list__price, .main-courses-list__description--details, .main-courses-list__price, .desserts-list__description--details, .desserts-list__price, .burgers-list__description--details, .burgers-list__price {
  font-family: "franckruehl", serif;
  font-size: 1.3rem;
}

.footer__contact--links, .footer__legals--links, .footer__copyright {
  font-family: "franckruehl", serif;
  font-size: 0.75rem;
}

.flux {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #000000;
  color: #D6BE74;
}

.burgers-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.burgers-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.burgers-dishes__list {
  margin-top: 5vw;
}

.burgers-list {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .burgers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.burgers-list__image {
  width: 30vw;
}
.burgers-list__description {
  margin-top: 5vw;
  padding: 5vw;
}
.burgers-list__price {
  color: #8D3B09;
}

.desserts-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.desserts-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.desserts-dishes__list {
  margin-top: 10vw;
}

.desserts-list {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .desserts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.desserts-list__image {
  width: 30vw;
}
.desserts-list__description {
  margin-top: 5vw;
  padding: 5vw;
}
.desserts-list__price {
  color: #8D3B09;
}

.main-courses-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.main-courses-dishes__list {
  margin-top: 5vw;
}

.main-courses-list {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .main-courses-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.main-courses-list__image {
  width: 30vw;
}
.main-courses-list__description {
  margin-top: 5vw;
  padding: 5vw;
}
.main-courses-list__price {
  color: #8D3B09;
}

.main-dishes {
  text-align: center;
  margin-top: 10vw;
}
.main-dishes__title {
  margin-bottom: 5vw;
}
.starters-dishes {
  text-align: center;
  margin-top: 25vw;
  padding-right: 5vw;
}
.starters-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.starters-dishes__list {
  margin-top: 5vw;
}

.starters-list {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .starters-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.starters-list__image {
  width: 30vw;
}
.starters-list__description {
  margin-top: 5vw;
  padding: 5vw;
}
.starters-list__price {
  color: #8D3B09;
}

.vegetarians-dishes {
  text-align: center;
  margin-top: 20vw;
  padding-right: 5vw;
}
.vegetarians-dishes__title {
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.vegetarians-dishes__list {
  margin-top: 5vw;
}

.vegetarians-list {
  margin-top: 17vw;
}
@media screen and (min-width: 884px) {
  .vegetarians-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.vegetarians-list__image {
  width: 30vw;
}
.vegetarians-list__description {
  margin-top: 5vw;
  padding: 5vw;
}
.vegetarians-list__price {
  color: #8D3B09;
}

.resa-form__title {
  text-align: center;
  margin-top: 5vw;
}
.resa-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 110vw;
  margin-top: 5vw;
}
.resa-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.resa-form__field {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
.resa-form__field--input {
  margin-left: 5vw;
}
.resa-form__button {
  background-color: #8D3B09;
  color: #D6BE74;
  text-align: center;
  margin-top: 5vw;
}
.resa-form__button:hover {
  background-color: #D6BE74;
  color: #000000;
}

#reservation_form_allergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 40%;
  margin-top: 3vw;
}
.login-form__title {
  text-align: center;
  margin-top: 3vw;
}
.login-form__email {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  width: 35%;
}
.login-form__password {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  width: 35%;
}
.login-form__button {
  background-color: #8D3B09;
  color: #D6BE74;
  text-align: center;
}
.login-form__button:hover {
  background-color: #D6BE74;
  color: #000000;
}

.register-form__title {
  text-align: center;
  margin-top: 5vw;
}
.register-form__flux {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  margin-top: 5vw;
}
.register-form__form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.register-form__field {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
}
.register-form__field--input {
  margin-left: 5vw;
}
.register-form__button {
  background-color: #8D3B09;
  color: #D6BE74;
  text-align: center;
  margin-top: 5vw;
}
.register-form__button:hover {
  background-color: #D6BE74;
  color: #000000;
}

#registration_form_allergy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.famous-dish-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 4vw;
  margin-top: 5vw;
}
@media screen and (min-width: 884px) {
  .famous-dish-card {
    flex-direction: row;
  }
}
.famous-dish-card__view {
  width: 50%;
}
.famous-dish-card__view--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.famous-dish-card__description {
  width: 50%;
  padding: 5vw;
  text-align: center;
}
.famous-dish-card__description--title {
  color: #8D3B09;
}
.famous-dish-card__description--text-presentation {
  color: #D6BE74;
}
.famous-dish-card__modification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.famous-dish-card__modification--modifier {
  margin-top: 1.5vw;
  text-align: center;
  margin-right: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.famous-dish-card__modification--modifier:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}
.famous-dish-card__modification--delete {
  margin-top: 1.5vw;
  text-align: center;
  margin-left: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.famous-dish-card__modification--delete:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}
.famous-dish-card__modification--add {
  margin-top: 1.5vw;
  text-align: center;
  margin-left: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.famous-dish-card__modification--add:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}

.main {
  text-align: center;
  padding: 5vw;
}
.main__title {
  color: #D6BE74;
}
.main__text-presentation {
  color: #6C643C;
  margin-top: 3.5vw;
}

.description {
  text-align: center;
  padding: 0 7vw 7vw 7vw;
}
.description__title {
  color: #D6BE74;
}
.description__text-presentation {
  color: #6C643C;
  margin-top: 3.5vw;
}

.famous-dishes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.famous-dishes__title {
  color: #D6BE74;
  margin-top: 3.5vw;
}
.famous-dishes__text-presentation {
  text-align: center;
  color: #6C643C;
  margin-top: 3.5vw;
}

.btn-reservation {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin-top: 5vw;
  padding: 1vw;
  background-color: #D6BE74;
  color: #000000;
  cursor: pointer;
}
.btn-reservation:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}

.main-modification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
}
.main-modification__modifier {
  margin-top: 1.5vw;
  text-align: center;
  margin-right: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.main-modification__modifier:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}
.main-modification__delete {
  margin-top: 1.5vw;
  text-align: center;
  margin-left: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.main-modification__delete:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}

.main-menus {
  text-align: center;
  margin-top: 3vw;
}
.main-menus__title {
  text-align: center;
  margin-bottom: 5vw;
}
.main-menus__description {
  text-align: center;
}
.main-menus__description--link {
  text-decoration: underline;
  text-decoration-color: #6C643C;
}
.main-menus__description--link:hover {
  color: #8D3B09;
  text-decoration-color: #8D3B09;
}

.all-menus {
  text-align: center;
}
.all-menus__button {
  background-color: #8D3B09;
  color: #D6BE74;
}
.all-menus__button:hover {
  background-color: #D6BE74;
  color: #000000;
}
.all-menus__description {
  margin-top: 10vw;
}
.all-menus__description--title {
  margin-top: 4vw;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
}
.all-menus__description--text {
  margin-top: 2.5vw;
  text-align: center;
}
.all-menus__description--price {
  text-align: center;
  margin-top: 1.5vw;
  color: #8D3B09;
}
.all-menus__category {
  margin-top: 3.5vw;
}
.all-menus__modification {
  margin-top: 5vw;
}
.all-menus__modification--modifier {
  margin-top: 1.5vw;
  text-align: center;
  margin-right: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.all-menus__modification--modifier:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}
.all-menus__modification--delete {
  margin-top: 1.5vw;
  text-align: center;
  margin-left: 0.5vw;
  color: #8D3B09;
  text-decoration: underline;
  text-underline-offset: 0.5vw;
  text-decoration-color: #D6BE74;
}
.all-menus__modification--delete:hover {
  color: #D6BE74;
  text-decoration-color: #8D3B09;
}

.header {
  background-color: #000000;
}

.header__container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 884px) {
  .header__container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.header__container--logo {
  width: 20vw;
}

.header__container--nav {
  display: none;
}
@media screen and (min-width: 884px) {
  .header__container--nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    margin: auto;
    transition: height, margin 0.3s eases;
  }
}
.header__link {
  margin: 0.8rem;
  color: #D6BE74;
  text-align: center;
  transition: color 0.5s ease;
}
@media screen and (min-width: 884px) {
  .header__link {
    margin: 0.07rem;
  }
}

.nav-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  transition: all 400ms;
}

.header__container--btn {
  width: 2.3rem;
  margin-right: 8vw;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 884px) {
  .header__container--btn {
    display: none;
  }
}
.header__container--btn i {
  display: block;
  color: #6C643C;
  font-size: 1.5rem;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
}
.btn__primary {
  background-color: #D6BE74;
  color: #000000;
}
.btn__primary:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}

.footer {
  color: #6C643C;
  border-top: solid;
  border-color: #6C643C;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vw;
}
.footer__logo {
  width: 20vw;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__contact {
  margin-top: 2vw;
}
.footer__contact--title {
  text-decoration: underline;
}
.footer__contact--links:hover {
  color: #8D3B09;
}
.footer__legals {
  margin-top: 2vw;
}
.footer__legals--title {
  text-decoration: underline;
}
.footer__legals--links:hover {
  color: #8D3B09;
}
.footer__copyright {
  margin-top: 2vw;
}

.btn {
  border-radius: 1.5rem;
  font-weight: 500;
  transition: 0.5s ease-in;
  margin: 0.7vw;
  padding: 0.7vw 1.5vw;
}
.btn__primary {
  background-color: #D6BE74;
  color: #000000;
}
.btn__primary:hover {
  background-color: #8D3B09;
  color: #D6BE74;
}/*# sourceMappingURL=style.css.map */